name: Create Release Candidates

on:
  workflow_dispatch: # Run workflow manually

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: 'next'
          fetch-depth: 0 # Fetch the entire history to allow comparing branches

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install firebase-tools
        run: npm install -g firebase-tools

      - name: Create release candidates
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          RC_PUBLISHER: ${{ secrets.RC_PUBLISHER }}
          RC_REPO: https://github.com/googlecloudplatform/firebase-extensions
          RC_PROJECT: ${{ secrets.RC_PROJECT }}
        run: |
          # Find changed CHANGELOG.md files
          changed_changelogs=$(git diff --name-only --diff-filter=AM origin/next origin/main | grep 'CHANGELOG.md')
          extension_names=()
          for changelog in $changed_changelogs; do
            extension_names+=($(dirname $changelog))
          done

          # Create release candidates
          for extension_name in "${extension_names[@]}"; do
            command="yes | firebase ext:dev:upload $RC_PUBLISHER/$extension_name --repo=$RC_REPO --root=$extension_name --ref=next --project $RC_PROJECT -s rc"
            echo "Running command: $command"
            if bash -c "$command"; then
              echo "Successfully processed $extension_name"
            else
              echo "Error processing $extension_name, continuing with next"
            fi
          done
